logs
project/target
target
tmp
.history
dist
regal-default.ntriple
/.idea
/*.iml
/out
/.idea_modules
/RUNNING_PID
/.target
log
.cache
data
.settings
.classpath
.project
bin
conf/application.conf
scripts/variables.conf
*~