h1{
	font-size:2em;
}

h2{
	font-size:1.2em;
}

body {
  background: #fff;
}
#example_info {
	display:none;
}
#example tr td, tr {
	background-color:#ffffff !important;
	 border-spacing: 0;
    border-collapse: collapse;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 2px;
    padding-left: 0px;
    margin:0;
}

#example th{
	display:none;
	
}
#example td {
    vertical-align:top;
}

#example .isDescribedBy ,
#example .primaryTopic ,
#example .itemID ,
#example .title,
#example .hbzId,
#example .contributorOrder,
#example .fulltextOnline,
#example .contributingCorporateBodyLabel,
#example .isPrimaryTopicOf,
#example .hasVersion,
#example .isLike,
#example .exemplar,
#example .subjectOrder,
#example .seeAlso,
#example .subjectLabel,
#example .creator,
#example .contributor,
#example .volume,
#example .externalParent,
#example .collectionOne,
#example .accessScheme,
#example .publishScheme,
#example .contentType,
#example .sameAs,
#example .describedby,
#example .parallelEdition,                                                                                                                                                                                           
#example .hasItem,                                                                                                                                                                                                   
#example .predecessor,                                                                                                                                                                                               
#example .successor,
#example .corporateBodyForTitle  {
   // display:none;
}

#example .title  {
   display:none;
}

.public-access {
    position:relative;
} 
.public-access:before{
	color:green;
	content: "\f13e";
    font-family: FontAwesome;
    top:0;
    left:-5px;
    padding-right:10px;
}

.private-access {
    position:relative;
} 
.private-access:before{
	color:red;
	content: "\f023";
   font-family: FontAwesome;
    top:0;
    left:-5px;
    padding-right:10px;
}
.restricted-access {
    position:relative;
} 
.restricted-access:before{
	color:orange;
    font-family: FontAwesome;
    top:0;
    left:-5px;
    padding-right:10px;
	content: "\f023";
}


.downloadIcon img{
	width:20px;
}

.downloadIcon a,.downloadIcon div,.downloadIcon span,.downloadIcon img {
	display:inline-block;
}
td:empty {
  display:none;
}

tr.inSeries tr.rdftype, tr.inSeries td.numbering,tr.inSeries td.series {
	display:none;
}

tr.volumeIn tr.rdftype,tr.volumeIn td.numbering,tr.volumeIn td.multiVolumeWork {
	display:none;
}
#example .catalogLink a[title], #example .parallelEdition a[title]{
   pointer-events: none;
   cursor: default;
   color:rgb(75, 75, 77);
}
#example .medium  a:not([title]), #example .subject a:not([title]), #example .rdftype a:not([title]), #example .nwbibsubject a:not([title]), #example .nwbibspatial a:not([title]), #example .language a:not([title]), #example .ddc a:not([title]), #example .reviewStatus a:not([title]), #example .publicationStatus a:not([title]){ 
  display:none;                                                                                                                                                                             
}                                                                                                                                                                                                                                                                                 
#example .medium .separator, #example .subject .separator, #example .rdftype .separator, #example .nwbibsubject .separator, #example .nwbibspatial .separator, #example .language .separator, #example .ddc .separator, #example .reviewStatus .separator, #example .publicationStatus .separator{
  display:none;
}

#example ul,#example ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.subjectAltLabelList {
  display: inline;
  list-style: none;
  list-style-type: none;
    margin: 0;
    padding: 0;
}
.componentList , .subjectAltLabelList {
  display: inline;
  list-style: none;
  list-style-type: none;
    margin: 0;
    padding: 0;
}

.componentList li , .subjectAltLabelList li {
  display: inline;
}

.componentList li:after, .subjectAltLabelList li:after {
  content: ", ";
}

.componentList li:last-child:after, .subjectAltLabelList li:last-child:after{
    content: "";
}

#author-title-list{
  display: inline;
  list-style: none;
  list-style-type: none;
    margin: 0;
    padding: 0;
}
#author-title-list {
  display: inline;
  list-style: none;
  list-style-type: none;
    margin: 0;
    padding: 0;
}

#author-title-list li{
  display: inline;
}

#author-title-list li:after{
  content: "| ";
}

#author-title-list li:last-child:after {
    content: "";
}

.contribution tr td, .contribution tr th {
	margin: 0;
    padding: 0;
}
.lastModifiedLabel{
   display:none;
}
.hasPart, .hasPart table, .hasPart tr, .hasPart td {
    background-color: #efefef !important;
    border: none;
}

