#-------------App-----------------
application.langs="en"

#-------------Logger-------------
logger.root=WARN
logger.play=INFO
logger.application=DEBUG

#-------------Backend-----------------
regal-api.serverName="api.localhost"
regal-api.fedoraIntern="http://localhost:8080/fedora"
regal-api.fedoraUser="admin"
regal-api.fedoraUserPassword="admin"
regal-api.escluster="localhost"
regal-api.keystoreLocation=""
regal-api.keystorePassword=""
regal-api.namespace="frl"
regal-api.alephSetName=edoweb01
regal-api.etikett.url="http://api.localhost:9002/tools/etikett"
regal-api.etikett.user="admin"
regal-api.etikett.pwd="admin"
regal-api.protocol="http://"
# edoweb: Archivierte Online-Ressource , ellinet: Langzeitarchivierung
regal-api.mab655x="Archivierte Online-Ressource"

#---------------Auth-------------------
#models.FakeUser or models.LdapUser or models.HardCodedUser or models.EncryptedUser
#regal-api.userImpl="models.FakeUser" 
#only needed if regal-api.userImpl="models.LdapUser"
#regal-api.ldapServer="ldap://yourldapserver:389"
#only needed if regal-api.userImpl="models.HardCodedUser"
#regal-api.userImpl="models.HardCodedUser"
#regal-api.admin-password=
#regal-api.editor-password=
#regal-api.reader-password=
#regal-api.subscriber-password=
#regal-api.remote-password=
regal-api.userImpl="models.EncryptedUser"
regal-api.admin-salt="i/eH15H1lD/NirbFbXTF8IZJhOtjo9IfM9fkkHg0mHY="
regal-api.admin-hash="1b276263590218d1ed0cd1da411e7570c3370c298745143710aa5c021f985f94"
regal-api.editor-salt="dHreWxIEaBJMiFOINMOioC9/hbz9vQU7v9Gb1qk1fPE="
regal-api.editor-hash="8d3092a81b450616550be426a6ad60c3b35ba8a33b08626669f05d1c807c3110"
regal-api.reader-salt="RNwdz7Snk1Qf+dbKbNbjYxuykWIqDCbJd4Q4OkrBG+c="
regal-api.reader-hash="dff6e1ba093335afad421270590afdd4b7b9bf904ed4ef29db9ba27a4c67f24c"
regal-api.subscriber-salt="7de7DqDjVEVb6pMba2chP4rcGiV975Xuij3UYK4oaoQ="
regal-api.subscriber-hash="b54df7f13221f00f757eb99ff6142f29dc1d95c34602e2aca94a78f1f7e34f22"
regal-api.remote-salt="M7emrcXWQXb3o6EjUFDWlsztkl/2ieYqjnystKNIPUA="
regal-api.remote-hash="1156c846b938ebba4ec4fade0b3a276b7071b4a5f13d2662b0f4200582f2862f"
regal-api.ipWhiteList="127.0.0"
regal-api.rechercheUrl.prefix"/resource?query[0][term]=\""
regal-api.rechercheUrl.suffix="\""

#-------------Thirdparty----------------
regal-api.oaiMabXmlAddress="http://api.localhost/oai-pmh/?verb=GetRecord&metadataPrefix=mabxml-1&identifier=oai:api.localhost:"
regal-api.alephAddress="http://193.30.112.134/F/?func=find-c&ccl_term=IDN%3D"
regal-api.lobidAddress="http://lobid.org/resource/"
regal-api.digitoolAddress="http://klio.hbz-nrw.de:1801/webclient/DeliveryManager?pid="

#-------------DOI------------------------
regal-api.dataciteUser="$DATACITE_USER"
regal-api.datacitePassword="$DATACITE_PASSWORD"
# Test Prefix 10.5072/orga:repo-  "10.5072/FRL01-"                                                                                                                                                                                      
# Productive Prefix 10.4126/orga:repo-                                                                                                                                                                            
regal-api.doiPrefix="10.5072"

#-------------URN------------------------
regal-api.urnSnid="$URNSNID"
regal-api.urnResolverAddress="http://nbn-resolving.org/"
regal-api.urnbase="https://localhost/resource/"

#------------Cron/Tasks------------------
#To run every day at 0.23h add "0 23 0 * *?"
#To run every hour at 23min add "0 23 * * * ?"                                                                                                                                                                           
#regal-api.doiTask="0 23 * * * ?"
#Run every 5 secs                                                                                                                                                                                                    
#regal-api.heartbeatTask="*/5 * * * * ?"                                                                                                                                                                             
#regal-api.urnTask="0/5 * * * * ?"
#regal-api.webgatherTask="* * */3 * * ?"

#-------------Heritrix------------------------------                            

regal-api.heritrix.rest="https://localhost:8443"
regal-api.heritrix.user="admin"
regal-api.heritrix.pwd="admin"
regal-api.heritrix.jobDir="/home/jan/local/opt/regal/heritrix-data"
regal-api.heritrix.dataUrl="https://localhost:8443"
regal-api.heritrix.openwaybackLink="https://api.localhost/wayback/"

#-------------wget --------------------------------
#--- importierte Webschnitte aus Edoweb1.0, 2.0 ---
#--------------------------------------------------
regal-api.wget.dataDir="/home/jan/local/opt/regal/wget-data"

#------Swagger self documenting----------
logger.swagger=ERROR
logger.com.wordnik.swagger=ERROR
api.version="0.7.0"
swagger.api.basepath="https://api.localhost"
http.port=9000
