@(data:DublinCoreData)
<oai_wgl:wgl
	xmlns:oai_wgl="http://www.leibnizopen.de/fileadmin/default/documents/oai_wgl/"
	xmlns:wgl="http://www.leibnizopen.de/fileadmin/default/documents/wgl_dc/"
	xmlns:doc="http://www.lyncode.com/xoai"
	xmlns:xalan="http://xml.apache.org/xslt"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.leibnizopen.de/fileadmin/default/documents/oai_wgl/ http://www.leibnizopen.de/fileadmin/default/documents/oai_wgl/oai_wgl.xsd">

@field(list: Seq[String],fieldname: String)() = {
@for(i <- list){<@fieldname>@i</@fieldname>}
}
@import models.Pair
@typedField(list: Seq[Pair[String,String]],fieldname: String)() = {
@for(i <- list){<@fieldname>@i.getRight():@i.getLeft()</@fieldname>}
}
@typedField(data.getIdentifier(),"wgl:identifier")
@field(data.getTitle(),"wgl:title")
@field(data.getDate(),"wgl:date")
@field(data.getCreator(),"wgl:creator")
@field(data.getContributor(),"wgl:contributor")
@field(data.getType(),"wgl:type")
@field(data.getSubject(),"wgl:subject")
@field(data.getWglContributor(),"wgl:wglcontributor")
</oai_wgl:wgl>