@(data:OpenAireData,hit:Map[String,Object])
@import views.Title
<oai_dc:dc 
    xmlns:oai_dc="http://www.openarchives.org/OAI/2.0/oai_dc/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:dcterms="http://purl.org/dc/terms/" 
	xmlns:dc="http://purl.org/dc/elements/1.1/" 
	xmlns:datacite="http://datacite.org/schema/kernel-4"
	xmlns:oaire="http://namespace.openaire.eu/schema/oaire/"
	xsi:schemaLocation="http://purl.org/dc/terms/ http://dublincore.org/schemas/xmls/qdc/dcterms.xsd 
	http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd 
	http://purl.org/dc/elements/1.1/ http://dublincore.org/schemas/xmls/qdc/2003/04/02/dc.xsd
	http://datacite.org/schema/kernel-4  http://schema.datacite.org/meta/kernel-4.1/metadata.xsd
	http://namespace.openaire.eu/schema/oaire/  https://www.openaire.eu/schema/repo-lit/4.0/openaire.xsd">
	
@data.getElementValue(creator)
@data.getElementValue(fundingReference)
@data.getElementValue(alternateIdentifier)

</oai_dc:dc>