ARCHIVE_HOME=/opt/regal
SERVER=localhost
FEDORA_USER=admin
PASSWORD=admin
EMAIL=root@localhost
TOMCAT_HOME=$ARCHIVE_HOME/fedora/tomcat
TOMCAT_CONF=$TOMCAT_HOME/conf
TOMCAT_PORT=8080
ELASTICSEARCH_CONF=/etc/elasticsearch
ELASTICSEARCH_PORT=9200
PLAYPORT=9000
BACKEND=http://api.localhost
FRONTEND=$SERVER
URNBASE=http://$FRONTEND/resource/
IP=all
VERSION=0.6.0
REGAL_USER=`whoami`
REGAL_GROUP=`whoami`
SSL_PUBLIC_CERT_BACKEND=$ARCHIVE_HOME/conf/regal-api-ssl.crt 
SSL_PRIVATE_KEY_BACKEND=$ARCHIVE_HOME/conf/regal-api-ssl.key
SSL_PUBLIC_CERT_FRONTEND=$ARCHIVE_HOME/conf/regal-drupal-ssl.crt 
SSL_PRIVATE_KEY_FRONTEND=$ARCHIVE_HOME/conf/regal-drupal-ssl.key
URNSNID=hbz:929:02
DOIPREFIX=10.5072/TEST-
DATACITE_USER=
DATACITE_PASSWORD=
ALEPH_SETNAME=localhost01
INIT_NAMESPACE="frl,test"
