#
# Layout
#
REGAL_HOME=/opt/regal
REGAL_LOGS=$REGAL_HOME/logs
REGAL_APP=$REGAL_HOME/regal-server
REGAL_SRC=$REGAL_HOME/regal-api
REGAL_TMP=$REGAL_HOME/tmp
REGAL_BACKUP=$REGAL_HOME/backup
HERITRIX_DIR=$REGAL_HOME/heritrix-data
APACHE_LOG=/var/log/apache2
APACHE_ACCESS_LOGNAME=other_vhosts_access.log
CRONJOBS_DIR=$REGAL_HOME/cronjobs
TOMCAT_HOME=$REGAL_HOME/fedora/tomcat
TOMCAT_CONF=$TOMCAT_HOME/conf
ELASTICSEARCH_CONF=/etc/elasticsearch

#
# Logins
#
REGAL_PASSWORD=admin
REGAL_ADMIN=edoweb-admin
REGAL_PASSWORD=$REGAL_PASSWORD
FEDORA_ADMIN=admin
FEDORA_PASSWORD=$REGAL_PASSWORD
PIWIK_ADMIN=admin
PIWIK_PASSWORD=$REGAL_PASSWORD

#
# Web-APIs
#
SERVER=localhost
BACKEND=http://api.localhost
FRONTEND=localhost
HERITRIX_URL=https://localhost:8443
HERITRIX_DATA=http://$SERVER
URNBASE=http://localhost/resource/
PIWIK=http://stats.localhost

#
# Emails
#
EMAIL=root@localhost
EMAIL_RECIPIENT_PROJECT_ADMIN="root\@localhost.de"
EMAIL_RECIPIENT_ADMIN_USERS="root\@localhost.de"

