@(data:Map[String,Object],dcData:DublinCoreData)<?xml version="1.0" encoding="UTF-8"?>
<mets:mets xmlns:mets="http://www.loc.gov/METS/"
 xmlns:rts="http://cosimo.stanford.edu/sdr/metsrights/"
 xmlns:mix="http://www.loc.gov/mix/v10"
 xmlns:xlink="http://www.w3.org/1999/xlink"
 xmlns:hbz="http://hbz-nrw.de/regal/schema/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation=
"http://www.loc.gov/METS/
 http://www.loc.gov/standards/mets/mets.xsd
 http://cosimo.stanford.edu/sdr/metsrights/
 http://cosimo.stanford.edu/sdr/metsrights.xsd
 http://www.loc.gov/mix/v10
 http://www.loc.gov/standards/mix/mix10/mix10.xsd
 http://hbz-nrw.de/regal/schema/ 
 http://@models.Globals.server/public/schemas/regal.xsd"
 OBJID="@data.get("@id")"
 LABEL="@data.get("title").asInstanceOf[List[String]].get(0)">


@addFile(objects:Any)={
@objects match {
		case null => {}
		case objects: List[Map[String,Object]]=> {
				@for( i <- objects){
					@for( j <- i.keySet()){
						@addFile(i.get(j))
					}
				}
		}
		case map: Map[String,Object]=> {
		@map.get("hasPart") match {
				case null => {}
				case isGrp: List[Map[String,Object]] => { 
				<mets:fileGrp ID="@map.get("@id").asInstanceOf[String].replace(":","-")" USE="@map.get("contentType")" >
					@addFile(isGrp)
				</mets:fileGrp>
				}
				case _ => {
				<mets:file  SIZE="@map.get("hasData").asInstanceOf[Map[String,Object]].get("size")" CHECKSUM="@map.get("hasData").asInstanceOf[Map[String,Object]].get("checksum").asInstanceOf[Map[String,Object]].get("checksumValue")" CHECKSUMTYPE="MD5" ID="@map.get("@id").asInstanceOf[String].replace(":","-")" MIMETYPE="@map.get("hasData").asInstanceOf[Map[String,Object]].get("format")">
				<mets:FLocat xlink:href="@models.Globals.urnbase@map.get("@id")/data" LOCTYPE="URL"/>
				</mets:file>
				}
		}
		}
		case _ => {}
	}
}

@addFileToStructMap(objects:Any)={
@objects match {
		case null => {}
		case objects: List[Map[String,Object]]=> {
				@for( i <- objects){
					@for( j <- i.keySet()){
						@addFileToStructMap(i.get(j))
					}
				}
		}
		case map: Map[String,Object]=> {
		@map.get("hasPart") match {
				case null => {}
				case isGrp: List[Map[String,Object]] => { 
				<mets:div LABEL="@map.get("contentType")">
					@addFileToStructMap(isGrp)
				</mets:div>
				}
				case _ => {
				<mets:div LABEL="@map.get("hasData").asInstanceOf[Map[String,Object]].get("fileLabel")">
				<mets:fptr FILEID="@map.get("@id").asInstanceOf[String].replace(":","-")"/>
				</mets:div>
				}
		}
		}
		case _ => {}
	}
}
 
 
<mets:metsHdr>
 
</mets:metsHdr>
<mets:dmdSec ID="DMR1">
	<mets:mdRef xlink:href="@models.Globals.urnbase@data.get("@id")" LOCTYPE="URL" MDTYPE="OTHER" LABEL="Publisso Entity"/>
</mets:dmdSec>
<mets:dmdSec ID="DM1">
	<mets:mdWrap MDTYPE="DC" LABEL="@data.get("title").asInstanceOf[List[String]].get(0)">
		<mets:xmlData>
		@tags.oaidcView(dcData)
		</mets:xmlData>
	</mets:mdWrap>
</mets:dmdSec>
<mets:amdSec>

</mets:amdSec>

<mets:fileSec>
@addFile(data)
</mets:fileSec>
<mets:structMap TYPE="text" LABEL="">
<mets:div>
@addFileToStructMap(data)
</mets:div>
</mets:structMap>

</mets:mets>